export ANTHROPIC_API_KEY=
export ANTHROPIC_BASE_URL=http://192.168.0.22:11434
# export ANTHROPIC_MODEL=gpt-oss:20b
# export ANTHROPIC_MODEL=devstral
# export ANTHROPIC_MODEL=qwen3.5:397b-cloud
export ANTHROPIC_MODEL=qwen3.5:4b
export ANTHROPIC_AUTH_TOKEN=ollama
